@font-face {
    font-family: "Pretendard-Medium";
    src: url("Pretendard-Medium.ttf") format("truetype");
  }
@font-face {
    font-family: "Pretendard-Light";
    src: url("Pretendard-Light.ttf") format("truetype");
  }
@font-face {
    font-family: "Pretendard-SB";
    src: url("Pretendard-SemiBold.ttf") format("truetype");
  }
@font-face {
    font-family: "Pretendard-Regular";
    src: url("Pretendard-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Pretendard-el";
    src: url("Pretendard-ExtraLight.ttf") format("truetype");
  }
@font-face {
    font-family: "Pretendard-bold";
    src: url("Pretendard-Bold.ttf") format("truetype");
  }
::-webkit-scrollbar {
    display: none;
  }

  html{
    background-color: #F3F5F5;
    overflow-x: hidden;
}
#exit{
  position: relative;
  top: 10px;
  left: 10px;
  width: 60px;
}
#header{
  background-color: #ffffff;
  height: 240px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
#title1{
  position: relative;
  top: 42px;
  left: 32px;
  font-family: "Pretendard-Light";
  font-size: 17px;
  color: #343434;
  margin: 0px;
  width: 100px;
  text-align: left;
}
#title2{
  position: relative;
  top: 47px;
  left: 32px;
  margin: 0px;
  font-family: "Pretendard-sb";
  font-size: 28px;
  color: #343434;
  width: 300px;
  text-align: left;
}
#open{
  position: absolute;
  height: 28px;
  right: 20px;
  top: 142px;
}
#close{
  position: absolute;
  height: 28px;
  right: 20px;
  top: 142px;
}
#photo{
    position: absolute;
    top: 210px;
    left: 0px;
    width: 100%;
    height: 230px;
    overflow: hidden;
    /* 사진 넣기 */
    background-image: url(sub5.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.20));
}
#main{
  position: absolute;
  top: 440px;
  z-index: -1;
  left: 0px;
  width: 100%;
  height: 55%;
  background: #F3F5F5;  overflow: hidden;
}
#main1{
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100%;
  height: 108px;
  background-color: #ffffff;
  box-shadow: 0px 1.5px 2px 0px rgba(106, 106, 106, 0.10);}
#main2{
  position: absolute;
  top: 142px;
  left: 0px;
  width: 100%;
  height: 175px;
  background-color: #ffffff;
  box-shadow: 0px 1.5px 2px 0px rgba(106, 106, 106, 0.10);}

#line1{
  position: absolute;
  top: 38px;
  background-color: #CCCCCC;
  width: 100%;
  height:0.5px;
}
#main1-1-1{
  position: absolute;
  text-align : center;
  padding : 3px 0;
  left: 60px;
  font-family: "Pretendard-sb";
  color: #4D4D4D;
  font-size: 16px;
}
#main1-1-2{
  position: absolute;
  text-align : right;
  padding : 3px 0;
  right: 30px;
  font-family: "Pretendard-light";
  color: #4D4D4D;
  font-size: 16px;
}
#main1-1 img{  
  position: absolute;
  top: 19px;
  left: 30px;
  width: 14px;
}
#main1-2-1{
  position: absolute;
  top: 53px;
  text-align : center;
  padding : 3px 0;
  left: 60px;
  font-family: "Pretendard-sb";
  color: #4D4D4D;
  font-size: 16px;
}
#main1-2-2{
  position: absolute;
  top: 53px;
  text-align : right;
  padding : 3px 0;
  right: 30px;
  font-family: "Pretendard-light";
  color: #4D4D4D;
  font-size: 16px;
}
#main1-2 img{  
  position: absolute;
  top: 75px;
  left: 30px;
  width: 15px;
}
#main2 img{
  position: absolute;
  top: 20px;
  left: 30px;
  width: 18px;
}
#main2-1-1{
  position: absolute;
  top: 0px;
  text-align : center;
  padding : 3px 0;
  left: 60px;
  font-family: "Pretendard-sb";
  color: #4D4D4D;
  font-size: 16px;
}
#main2-2{
  position: absolute;
  top: 50px;
  right: 30px;
  left: 65px;
  bottom:20px;
  background-color: rgb(255, 255, 255);
  height: 110px;
  font-size: 15px;
}
#main2-2-1{
  width: 100%;
  height: 40px;
  background-color: rgb(255, 255, 255);
}
#main2-2-1-1{
  position: absolute;
  top: 5px;
  transform: translate(0,-50%);
  float: left;
  text-align : center;
  color: #4D4D4D;
  font-family: "pretendard-medium";
}
#main2-2-1-2{
  transform: translate(0,-50%);
  text-align : center;
  position: absolute;
  top: 5px;
  float: left;
  right: 0px;
  color: #4D4D4D;
  font-family: "pretendard-light";
}
#main2-2-2{
  width: 100%;
  height: 40px;
  background-color: rgb(255, 255, 255);
}
#main2-2-2-1{
  transform: translate(0,-50%);
  float: left;
  position: absolute;
  top: 42px;
  left: 0px;
  text-align : center;
  color: #4D4D4D;
  font-family: "pretendard-medium";
}

#main2-2-2-2{
  transform: translate(0,-50%);
  text-align : center;
  position: absolute;
  top: 42px;
  float: left;
  right: 0px;
  color: #4D4D4D;
  font-family: "pretendard-light";
}

#line2{
  position: absolute;
  top: 65px;
  width: 100%;
  height: 0.5px;
  background-color: #CCCCCC;
}

#main2-2-3{
  width: 100%;
  height: 40px;
  background-color: rgb(255, 255, 255);
  font-family: "Pretendard-sb";
}
#main2-2-3-1{
  position: absolute;
  top: 80px;
  left: 0px;
  transform: translate(0,-50%);
  float: left;
  text-align : center;
  color: #4D4D4D;
  font-family: "pretendard-medium";
}
#main2-2-3-2{
  transform: translate(0,-50%);
  text-align : center;
  position: absolute;
  top: 80px;
  float: left;
  right: 0px;
  color: #4D4D4D;
  font-family: "pretendard-light";
}

#info{
  position: absolute;
  font-family: "Pretendard-Medium";
  color: #4B5064;
  font-size: 12px;
  top: 330px;
  left: 40px;
}
#info img{
  position: relative;
  left: -3px;
  width: 9px;
}